/* Style général */
article{text-align:center;}

section{
	background-color:white;
	display:inline-block;
	margin:0;
	border-radius:3px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
}

/* Zone de texte pour la description */
#ajout-description{
	text-align:center;
	margin-top:20px;
}

#ajout-description textarea{
	max-width:440px;
	min-width:210px;
	min-height:100px;
	max-height:300px;
}

/* Style du formulaire */
.formulaire{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top:20px;
	margin-bottom:20px;
}

/* Cache le div */
#hidden_div{display:none;}

/* Style de l'image affichée en sortie */
#imageoutput{
	max-width:250px;
	border:solid #c2262b 1px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	border-radius:3px;
}

/* Bouton pour enregistrer en brouillon */
.btn-enregistrement{background-color:rgb(38, 194, 54);}

/* Media queries pour l'affichage responsif */
@media (min-width:1125px){
	section{ width:1000px;}
}

@media (max-width:1125px){
	section{
		max-width:900px;
		width:100%;
	}
}