article{
	text-align:center;
}

section{
	background-color:white;
	display:inline-block;
	margin:0;
	border-radius:3px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
}

@media (min-width:1125px){
	section{
		width:1000px;
	}
}

@media (max-width:1125px){
	section{
		max-width:900px;
		width:100%;
	}
}

/* CSS pour onglets collapsibles */
.collapsible {
	background-color: white;
	color: #c2262b;
	font-weight:bold;
	cursor: pointer;
	padding: 7px;
	width: 100%;
	outline: none;
	font-size: 15px;
	border:solid 2px #f5f5f5;
	border-radius: 3px;
	margin-bottom:10px;
	transition: background-color 0.3s;
}

.collapsible:hover {
	background-color: #f1f1f1;
	transition: background-color 0.3s;
}

.btn-enregistrement{
	background-color:rgb(38, 194, 54);
}

#ajout-description{
	text-align:center;
	margin-top:20px;
}

#ajout-description textarea{
	max-width:440px;
	min-width:210px;
	min-height:100px;
	max-height:300px;
}

.formulaire{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top:20px;
	margin-bottom:20px;
}

#hidden_div{
	display:none;
}

#imageoutput{
	max-width:250px;
	border:solid #c2262b 1px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	border-radius:3px;
}