.carte{
	background-color:lightgrey;
	display:inline-block;
	margin:5px;
	border-radius:3px;
	overflow:hidden;
}

#cartes-section{
	text-align:center;
}

#carte-deux{
	background-color:#c2262b;
	max-width:500px;
	margin: 0 auto;
	border-radius:3px;
	margin-top:50px;
	padding:20px 0;
	font-size:19px;
}

@media (min-width:1020px){
	.carte{
		height:330px;
		width:320px;
	}
}

@media (max-width:1020px){
	.carte{
		height:270px;
		width:260px;
	}
}

.annonce-image{
	height:75%;
	background-image:radial-gradient(#c2262b,white);
}

.annonce-description{
	height:25%;
	padding:3px;
	text-align:left;
}

.img-responsive{
	max-width: 100%;
	height:100% !important;
}
