.carte{
	background-color:lightgrey;
	display:inline-block;
	margin:5px;
	border-radius:3px;
}

#cartes-section{
	text-align:center;
}

#carte-deux{
	background-color:#c2262b;
	max-width:500px;
	margin: 0 auto;
	border-radius:3px;
	margin-top:50px;
	padding:20px 0;
}

@media (min-width:1020px){
	.carte{
		height:330px;
		width:320px;
	}
}

@media (max-width:1020px){
	.carte{
		height:270px;
		width:260px;
	}
}