* { font-family: Helvetica, serif; }

html {
  	scroll-behavior: smooth;
  	height:100%
}

body{
	margin:0;
	position:relative;
	height:100%;
}

article{
	margin: 50px auto;
	max-width:1000px;
	min-height:100%;
}

a{
	color:white;
	text-decoration:none;
	font-weight:bold;
}

.h1-custom{
	text-align:center;
}

.h1-custom span{
	/* background-color: #eeeeee; */
	padding:0 5px;
	border-bottom:solid 1px #c2262b;
}

::selection{
  	background-color:#d93b40;
  	color: white;
}

::-moz-selection {
  	background-color:#d93b40;
  	color: white;
}

/* Formulaire */
.formulaire{
	max-width:440px;
	margin:0 auto;
	border-radius:5px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
}

.formulaire h1{
	background-color:#c2262b;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color:white;
	background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#lien-inscription{
	text-align:right;
	margin-top:20px;
	padding-right:10px;
	color:#c2262b;
	font-weight:bold;
	font-size:0.9em;
	transition:color 0.3s;
}

#lien-inscription:hover{
	color:black;
	transition:color 0.3s;
}

.rouge{
	color:#c2262b;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.02); }

.decrease{ transition: all .2s ease-in-out; }

.decrease:hover { transform: scale(0.95); }

.alerte{
	max-width:440px;
	margin:0 auto;
	border-radius:3px;
	padding:3px;
	color:white;
	text-align:center;
	font-size:14px;
	-webkit-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
}

.alerte-succes{
	background-color:rgba(38, 194, 54, .5);
	transition:background-color 0.7s ease-in-out;
}

.alerte-echec{
	background-color:rgba(194, 38, 43, .7);
	transition:background-color 0.7s ease-in-out;
}

#recherche-annonce{
	width:calc(100% - 10px);
	margin:0 auto 20px;
	border-radius:3px;
	background-color:white;
	-webkit-box-shadow:inset 0 0 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow:inset 0 0 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0 0 7px -3px rgba(0,0,0,0.75);
	padding:5px;
}

#bouton-rechercher{
	max-width:200px;
	background-color:#c2262b;
	border-radius:3px;
	margin:0 auto;
}