* { font-family:Helvetica; }

html {
  	scroll-behavior: smooth;
  	height:100%
}

body{
	margin:0;
	position:relative;
	height:100%;
}

article{
	margin: 50px auto;
	max-width:1000px;
	min-height:100%;
}

a{
	color:white;
	text-decoration:none;
	font-weight:bold;
}

.h1-custom{
	text-align:center;
	/* text-decoration: underline #c2262b; */
	background: linear-gradient(#fff 100%,#fff 45%,#c2262b 46%,#c2262b 54%,  #fff 54%,#fff 100%);
	background: -webkit-linear-gradient(#fff 0%,#fff 45%,#c2262b 46%,#c2262b 54%,  #fff 54%,#fff 100%);
	background: -moz-linear-gradient(#fff 0%,#fff 45%,#c2262b 46%,#c2262b 54%,  #fff 54%,#fff 100%);
	background: -ms-linear-gradient(#fff 0%,#fff 45%,#c2262b 46%,#c2262b 54%,  #fff 54%,#fff 100%);
	background: -o-linear-gradient(#fff 0%,#fff 45%,#c2262b 46%,#c2262b 54%,  #fff 54%,#fff 100%);
	/* Source : http://memo-web.fr/categorie-css-200/ */;
}

.h1-custom span{
background:#fff;
padding:0 20px;
}

::selection{
  	background-color:#d93b40;
  	color: white;
}

::-moz-selection {
  	background-color:#d93b40;
  	color: white;
}

/* Formulaire */
.formulaire{
	max-width:440px;
	margin:0 auto;
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
}

.formulaire h1{
	background-color:#c2262b;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color:white;
}

#lien-inscription{
	text-align:right;
	margin-top:20px;
	padding-right:10px;
	color:#c2262b;
	font-weight:bold;
	font-size:0.9em;
	transition:color 0.3s;
}

#lien-inscription:hover{
	color:black;
	transition:color 0.3s;
}

.rouge{
	color:#c2262b;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.02); }

.decrease{ transition: all .2s ease-in-out; }

.decrease:hover { transform: scale(0.95); }

.alerte{
	max-width:440px;
	margin:0 auto;
	border-radius:3px;
	font-family:Helvetica;
	padding:3px;
	color:white;
	text-align:center;
	font-size:14px;
	-webkit-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
}

.alerte-succes{
	background-color:rgba(38, 194, 54, .5);
	transition:background-color 0.7s ease-in-out;
}

.alerte-echec{
	background-color:rgba(194, 38, 43, .7);
	transition:background-color 0.7s ease-in-out;
}