/* Visuel général */


nav{
	top:0;
	position:sticky;
	margin-bottom:40px;
	border-bottom:solid #c2262b 2px;
	z-index:1;
	width:100%;
	height:auto;
	background-color: white;
	-webkit-box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
}

nav div{
	display:inline-block;
	vertical-align:middle;
}

/* Image */
#one{
	width:33%;

}

/* Lien "Rechercher une annonce" */
/* Source de l'animation: https://paulund.co.uk/css-animation-link-underline */
nav a.middle
{
    position: relative;
    color:black;
	text-decoration:none;
	font-family:Helvetica;
	font-weight:bold;
}

nav a.middle:before {
  content: "";
  position: absolute;
  width: 92%;
  height: 2px;
  bottom: 0;
  left: 18px;
  background-color: #c2262b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#two{
	text-align:center;
	width:33%;
}

/* Lien "Se connecter" */
nav #three a{
	color:black;
	text-decoration:none;
	font-family:Helvetica;
	font-weight:bold;
	transition:color 0.3s;
}

nav #three a:hover{
	color:#c2262b;
	transition:color 0.3s;
}

#three{
	text-align:right;
	width:33%;
}

/* Séparation horizontale */
.vl{
	border-left:solid #c2262b 2px;
	height:15px;
	margin: 0 10px;
}

/* Affichage responsif */
@media (max-width:800px){
	#one{
		width:100%;
		text-align:center;
	}

	#two{
		width:50%;
		text-align:right;
		margin-right:30px;
		margin-bottom:5px;
	}

	#three{
		text-align:center;
		margin-bottom:5px;
	}
}